<!-- <ion-content> -->
    
    <div style="margin-top:90px; position: relative;" class="container bg-white">

        <app-dvds-title></app-dvds-title>
        <app-dvds-menu></app-dvds-menu>

        <div class="d-flex flex-wrap justify-content-center">
            <div
                *ngFor="let dvdmodel of dvds"
                class="card text-center m-2"
            >
                <img
                    class="card-img-top"
                    src={{dvdmodel.image_path}}
                    alt="Madres"
                >
                <h5 class="card-title pt-2">{{dvdmodel.name}}</h5>
                <div class="d-flex justify-content-center">{{dvdmodel.genre}}</div>
                <div class="card-body">
                    <a
                        [routerLink]="['/dvd', dvdmodel.id]"
                        class="card-link btn btn-outline-danger btn-sm"
                    >
                        Voir détail
                    </a>
                </div>
            </div>
        </div>


        <div>
            <div class="d-flex justify-content-center p-3">
                <a class="card-link btn btn-danger btn-sm">Voir plus</a>
            </div>
        </div>

    </div>

<!-- </ion-content> -->