/* .body-margin{
    margin-top:10%
}

.ion-body-margin{
    margin-top:30%;
} */

/* .overflow-y{
    overflow-y: auto !important;
} */

/* .ion-page{
    position: relative;
} */

.overflow-y{
    overflow: auto !important;
}