<div class="container bg-white ">

    <div class="d-flex  pt-3 pb-2">

        <div class="dropdown">
            <button class="btn btn dropdown-toggle btn-sm" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item btn btn-sm" type="button">Voir tout</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Action</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Drame</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Comédie</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Horreur</button></li>
            </ul>
        </div>

        <a class="btn btn-outline-danger btn-sm border border-white" href="#" role="button">Voir listing</a>
        <a class="btn btn-outline-danger btn-sm border border-white" [routerLink]="['/dvd-form']" role="button">Ajouter film</a>

    </div>

</div>