<app-clients-title></app-clients-title>
<app-clients-menu></app-clients-menu>

<div class="container bg-white ">

    <div class="d-flex justify-content-center p-3">

    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <th scope="row">{{client.id}}</th>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>
                <a [routerLink]="['/client', client.id]" class="card-link btn btn-outline-danger btn-sm">Voir détail</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
