<app-login-form-title></app-login-form-title>

<div class="container bg-white">
    <div class="p-3">
        <form
            #form="ngForm"
            class="m-auto p-3 w-50 border"
            (submit)="send(form)"
        >

            <h4 class="pb-2">Connectez-vous :</h4>

            <div class="mb-3">
                <label
                    for="exampleInputEmail1"
                    class="form-label"
                >
                    Email address
                </label>
                <input
                    type="email"
                    ngModel
                    name="username"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                >
                <div
                    id="emailHelp"
                    class="form-text"
                >
                    We'll never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="exampleInputPassword1"
                    class="form-label"
                >
                    Password
                </label>
                <input
                    type="password"
                    ngModel
                    name="password"
                    class="form-control"
                    id="exampleInputPassword1"
                >
                <div class="pt-1">
                    <a
                        routerLink="/recuperation-form"
                        class="text-danger"
                    >
                        Mot de passe oublié ?
                    </a>
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-danger btn-sm"
            >
                Envoyer
            </button>
        </form>
        <div class="pt-3 text-center">
            Pas encore inscrit ?
            <a routerLink="/inscription-form">Inscrivez-vous !</a>
        </div>
    </div>
</div>
