    <div class="container bg-white ">

    <div class="d-flex  pt-3 pb-2">

        <div class="dropdown">
            <button class="btn btn dropdown-toggle btn-sm" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item btn btn-sm" type="button">Voir tout</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Name</button></li>
                <li><button class="dropdown-item btn btn-sm" type="button">Email</button></li>
            </ul>
        </div>

        <a class="btn btn-outline-danger btn-sm border border-white" role="button">Ajouter un client</a>

    </div>

</div>
