<app-clients-title></app-clients-title>
<app-client-menu></app-client-menu>


<div class="container bg-white ">
  <div class="card border-white mb-3 pb-3" style="max-width: 1240px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Nom : {{client.name}} </p>
          <p class="card-text">Email : {{client.email}}</p>
          <a class="card-link btn btn-outline-danger btn-sm">Modifier</a>
          <a class="card-link btn btn-outline-danger btn-sm">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>