<app-inscription-form-title></app-inscription-form-title>

<div class="container bg-white">
    <div class="p-3">
        <form
            #form="ngForm"
            class="m-auto p-3 w-50 border"
        >

            <h4 class="pb-2">Inscrivez-vous :</h4>

            <div class="mb-3">
                <label
                    for="exampleInputEmail1"
                    class="form-label"
                >
Login name                </label>
                <input
                    type="text"
                    ngModel
                    name="username"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                >
                <div
                    id="emailHelp"
                    class="form-text"
                >
                    We'll never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="exampleInputPassword1"
                    class="form-label"
                >
                    Password
                </label>
                <input
                    type="password"
                    ngModel
                    name="password"
                    class="form-control"
                    id="exampleInputPassword1"
                >
            </div>
            <button
                type="submit"
                class="btn btn-danger btn-sm"
            >
                Envoyer
            </button>
        </form>
    </div>
</div>
